.bookList {
  border: 1px solid #ccc;
  float: left;
  width: 985px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.bookImg {
  width: 143px;
  height: 208px;
}

.bookName {
  padding-top: 20px;
  padding-left: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-weight: bold;
  text-align: start;
}

.bookOriginalAuthor {
  padding: 6px;
  text-align: center;
  font-weight: bold;
  text-align: start;
  display: flex;
}

.discountRate {
  padding: auto;
  display: flex;
}

.prodIntroduction {
  text-align: start;
  margin-top: 20px;
  width: 517px;
}
.buttonGroup {
  padding: 10px;
  display: grid;
}
